body{
    background-color: #7FFFD4;
}

header{
    height: 75px;
    background-color: white;
    padding: 0 20px;
}

button{
    border-radius: 20px;
    padding: 3px  20px;
}

.grid{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    background-color: yellow;
    

}

.cell{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid black;
}
.cellMedium{
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 2px solid black;
}

.cellHard{
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 2px solid black;
}

.bg-blue{
    background-color: aqua;
}

img{
    height: 50px;
    margin-right: 20px;
}